stages:
  - test
  - build
  - publish

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

test:
  stage: test
  image: python:3.11
  before_script:
    - pip install pytest
    - pip install -e .
  script:
    - pytest

build:
  stage: build
  image: python:3.11
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/

publish:
  stage: publish
  image: python:3.11
  script:
    - pip install twine
    - twine upload dist/* -u __token__ -p $PYPI_TOKEN
  only:
    - tags

