# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env/

# Build
dist/
build/

# IDEs
.vscode/
.idea/

# Coverage / test
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Saves from tutorial
.notebooks/saves/


#Others docs
.ipynb_checkpoints/
